:root{
    --color1:#023059;
    --color2:#0367A6;
    --color3:#59D9D9;
    --color4:#8DF2E8;
    --color5:#F2F2F2;
    --color6:#1b6e6ed3;
    --color7:#29CDF2;
    --color8:#618C84;

    --black:#000000;
    --white:#FFFFFF;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    max-width: 1372px;
    min-height: 100dvh;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    transition-delay: 3s;
    background-color: var(--white);
}

h1,h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    text-decoration: none;
    padding: 15px 20px;
}

/* Início do css */
.header{
    flex-direction: column;
    background-color: var(--white);
}

.nav{
    width:100%;
    padding: .300em .500em;
    justify-content: space-between;
    align-items: center;
}

.navLogo{
    width:10%; 
}

.title-logo{
    width: 100%;
}

.ul-navLinks{ 
    list-style: none;
    gap:1rem;
}

.navLinks{
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--color1);
    background-color: red;
}

/* .navLinks::after{

} */

/* Fim do Header */

.main{
  
}

.sect-main-1{
    height:calc(95dvh - 18px);
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;

    background: url("./imgs/Backgrounds/amenities2.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.ul-sectMain1{
    background-color: var(--color6);
    padding:2em .8em;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    
    gap: 2rem 0;
}

.li-sectMain{
   list-style: none;
   width: 100%;
   background-color: var(--color8);
   padding: 5px;
   border-radius:5px ;
}

.btn_linkSectMain{
    color: var(--color4);
    padding-left: 0;
}

.btn_linkSectMain i{
    font-size: 25px;
    width: 35px;
    text-align: center;
}

/* ___*/

.container-sectMain1{
    flex-direction: column;
    gap: 2rem;
    background-color: #0367A6;
    display: none;
} 

.secMain1-Ident{
    width: 50%;
    background-color: red;
    flex:1;
    display: none;
}

.secMain1-Ident picture{
    width:20%;
    background-color: rebeccapurple;
}

.secMain1-Ident picture img{
    width: 100%;
    object-fit: cover;
    transform: rotate(-40deg);
}


.sub-BntWhatsapp{
    color: #25d366;
}

.sub-sectMain .sub-BntTel{

}
/* Fim sect-main-1 */

.sect-main-2{
    padding:.8em;
}

.container-cards{
    margin-top: 1.5rem;
    height: 350px;
    flex-wrap:wrap;
    gap: 1.2rem;
}

.container-cards  img{
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Fim sect-main-2 */

/* .sect-main-3{
    height: 30dvh;
    background-color: rgb(1, 97, 49);
} */

/* Fim sect-main-3 */

/* Fim Main */

.footer{


}

.sectFooter-info{
    padding: 0.4em 0;
    width: 100%;
    justify-content: space-between;
}

.rede-sociais{
    align-items: center;
    gap: 0.8rem;
}

.links-rede{
    font-size: 1.5rem;
}
/* Fim sectFooter-info */

/*___MEDIAS___*/

@media screen and (max-width:450px){
    
    .nav{
        flex-direction: column;
        gap: 1rem 0;
    }

    .sect-main-1{
        justify-content: space-around;
        flex-direction: column;
    }
}