*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    max-width: 1272px;
    min-height: 100dvh;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    transition-delay: 3s;
    background-color: rgb(255, 255, 255);
}

h1,h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Início do css */
.header{
    
}

.nav{
    width:100%;
    margin-top: 1em;
    justify-content: space-between;
}

nav a {
    color: white;
}

.ul-navLinks{ 
    list-style: none;
    gap:1rem;
}

.navLinks{
    text-decoration: none;
    color: rgb(2, 46, 128);
}
/* Fim do Header */

.main{
  
}

.sect-main-1{
    height:calc(95dvh - 18px);
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

.ul-sectMain1{
    
}

.container-cards{
    display: grid;
    grid-template-columns:
     repeat(3, 1fr);
    grid-template-rows:
    auto;
    gap: .1em;
}

.container-cards article{
    width: 100%;
}

.container-cards article img{
    width:100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.sub-sectMain{

} 

.sub-sectMain .sub-BntWhatsapp{

}

.sub-sectMain .sub-BntTel{

}
/* Fim sect-main-1 */

.sect-main-2{background-color: rgb(6, 59, 120);}

/* Fim sect-main-2 */

.sect-main-3{
    height: 30dvh;
    background-color: rgb(1, 97, 49);
}

/* Fim sect-main-3 */

/* Fim Main */

.footer{}

@media screen and (max-width:450px){
    
    .nav{
        flex-direction: column;
        gap: 1rem 0;
    }
}